<!DOCTYPE html>
html(lang="zh-cn")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="xxxxxxx")
        meta(name="keywords", content="xxxxxxx")


        link(rel="stylesheet", href="https://static.feddy.org/wing.min.css")
        link(rel="stylesheet", href="/styles/base.css")
        link(rel="shortcut icon" href="https://blog.feddy.org/favicon.png")
        block title
            title
    body
        block nav
            include includes/nav
        block main
            main
                p

        block body_append
