* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    transition: color .2s ease;
}

.layout {
    padding-top: 75px;
    background: #f5f7f9;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.card {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background: #ffffff;
}

.card-body img {
    max-width: 100%;
}

.section {
    padding: 48px;
    overflow: hidden;
}

.section-header {
    padding: 20px;
    text-align: center;

    border-left: 10px solid #ffc800;
    background-color: #ffffff;
}

.section-header h2 {
    font-size: 2.2rem;
}

.section-body-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.post-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 320px;

    overflow: hidden;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #ffffff;
}

.post-card-meta {
    padding: 20px;
}

.post-card-image {
    height: 240px;
    background-position: center;
    background-size: cover;
    background-color: lightgoldenrodyellow;
}

.post-card-content {
    flex-grow: 1;
    padding: 20px;
}

.post-card.post-card__mustread {
    flex-basis: 480px;
}

.post-card.post-card__mustread .post-card-image {
    height: 480px;
}

.carousel-card {
    position: relative;
    width: 1200px;
    height: 60vh;

    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid #ddd;
}

.carousel-card-image {
    flex: 7;

    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightcyan;
}

.carousel-card-meta {
    flex: 3;

    margin: 0;
    padding: 100px 60px;
    color: #ffffff;
}

.carousel-card__category {
    text-transform: uppercase;
}

.carousel-card__title {
    margin: 20px 0;
}

.carousel-card__author {
}

.carousel-card__author::before {
    content: 'by ';
}

.carousel-card__link {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;

    color: #000000;
    background-color: #ffffff;
}

.nav {
    top: 0;
    z-index: 999;

    width: 100%;
    height: 55px;
    font-size: 16px;
    overflow: hidden;

    background: transparent;
    transition: background .3s ease;

    justify-content: space-between;
}

.nav .nav-logo {
    text-align: center;
}

.nav .nav-logo img {
    height: 40px;
}

.nav.fixed {
    position: fixed;
    top: 0;
}

.nav .menu:after,
.nav .menu:before {
    content: "";
    display: block;
    width: 10vw;
    height: 1.6vw;
    background: #363b47;
    border-radius: .8vw;
    position: absolute;
    left: 0;
    transition: all,color .15s ease-in-out;
}

.nav .menu:before {
    top: .5vw;
    box-shadow: 0 3.7vw #363b47;
}

.nav .menu:after {
    bottom: .5vw;
}

.nav .menu {
    width: 10vw;
    height: 10vw;
    transition: right 1s;
    transform: scale(.6);
    position: absolute;
    right: -12vw;
    top: 0;
}

.nav .nav-items {
    display: flex;
}

.nav .nav-item {
    color: #9ba7b5;
    text-decoration: none;
}
.nav .nav-item.active {
    color: #ffffff;
    background: #ffb101;
}

.nav.scroll {
    background: #464c5b;
}
.nav.scroll .nav-item {
    color: #ffffff;
}
.nav.scroll .nav-item.active {
    color: #ffb101;
    background: none;
}

a.nav-item:hover,
a.nav-item:active,
a.nav-item.active {
    color: #ffb101;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 720px),
    only screen and (max-device-width: 720px) {
    .nav {
        position: fixed;
        top: 0;
        left: -50vw;
        width: 50vw;
        height: 100%;
        padding: 40px 0;
        background: #464c5b;
        overflow: visible;
        transition: all .3s;

        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    .nav.active {
        left: 0;
    }

    .nav.active .menu {
        right: 0;
    }

    .nav.active .menu:before {
        top: 4.2vw;
        box-shadow: none;
        transform: rotate(225deg);
        background: #000;
    }

    .nav.active .menu:after {
        bottom: 4.2vw;
        transform: rotate(135deg);
        background: #000;
    }

    .nav .nav-items {
        flex-direction: column;
        align-items: stretch;
    }

    .nav .nav-item {
        padding: 10px 0;
        text-align: center;
    }

    .nav .nav-logo {
        margin: 20px;
    }

    .nav .nav-logo img {
        height: 48px;
    }


    .section {
        margin: 0;
        padding: 0;
    }
    .section-header {
        margin: 20px 0 0;
        padding: 10px 0;
        border: none;
        border-top: 1px solid #ffc800;
    }
    .section-header h2 {
        font-size: 1.8rem;
    }

    .post-card {
        flex: 1 1 280px;
    }

    .post-card-image {
        height: 200px;
    }

    .carousel-card {
        width: 100vw;
        flex-direction: column-reverse;
        border: none;
    }

    .carousel-card-image {
        flex: 8;
    }

    .carousel-card-meta {
        flex: 2;
        max-height: 80px;
        min-height: 80px;
        padding: 15px;
        overflow: hidden;
    }

    .carousel-card__title {
        font-size: 1.2em;
        margin: 5px 0;
    }

    .carousel-card__content {
        display: none;
    }

    .carousel-card__link {
        display: none;
        padding: 5px;
        text-align: center;
    }

    .carousel-card__category {
        display: none;
    }
}



