html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.card {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background: #ffffff;
}

.card-body img {
    max-width: 100%;
}


.section {
    padding: 48px;
    overflow: hidden;
}

.section-header {
    margin: 60px auto;
    padding: 20px;
    text-align: center;

    border-left: 10px solid #ffc800;
    background-color: #ffffff;
}

.section-body-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.post-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 320px;

    overflow: hidden;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #ffffff;
}

.post-card-meta {
    padding: 20px;
}

.post-card-image {
    height: 240px;
    background-position: center;
    background-size: cover;
    background-color: lightgoldenrodyellow;
}

.post-card-content {
    flex-grow: 1;
    padding: 20px;
}

.post-card.post-card__mustread {
    flex-basis: 480px;
}

.post-card.post-card__mustread .post-card-image {
    height: 480px;
}

.carousel-card {
    position: relative;
    width: 1200px;
    height: 60vh;

    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid #ddd;
}

.carousel-card-image {
    flex: 7;

    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightcyan;
}

.carousel-card-meta {
    flex: 3;

    margin: 0;
    padding: 100px 60px;
    color: #ffffff;
}

.carousel-card__category {
    text-transform: uppercase;
}

.carousel-card__title {
    margin: 20px 0;
}

.carousel-card__author {
}

.carousel-card__author::before {
    content: 'by ';
}

.carousel-card__link {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;

    color: #000000;
    background-color: #ffffff;
}

.owl-dots {
    display: block;
    text-align: center;
}

.owl-dot {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #ffffff;
}

.owl-dot.active {
    background: #ffc800;
}

@media(max-width: 720px) {
    .section {
        margin: 0;
        padding: 0;
    }
    .section-header {
        margin: 20px 0 0;
        padding: 10px 0;
        border: none;
        border-top: 1px solid #ffc800;
    }
    .section-header h2 {
        font-size: 1.2em;
    }

    .post-card {
        flex: 1 1 280px;
    }

    .post-card-image {
        height: 200px;
    }

    .carousel-card {
        width: 100vw;
        flex-direction: column-reverse;
        border: none;
    }

    .carousel-card-image {
        flex: 8;
    }

    .carousel-card-meta {
        flex: 2;
        max-height: 80px;
        min-height: 80px;
        padding: 15px;
        overflow: hidden;
    }

    .carousel-card__title {
        font-size: 1.2em;
        margin: 5px 0;
    }

    .carousel-card__content {
        display: none;
    }

    .carousel-card__link {
        display: none;
        padding: 5px;
        text-align: center;
    }

    .carousel-card__category {
        display: none;
    }

}
